

.btn-edit {
	color: white;
	background-image: linear-gradient(to left, rgb(52, 0, 119), rgb(102, 58, 0));
}

.btn-edit:hover {
	color: white;
	background-image: linear-gradient(to right, #077, #066);
}
.mg{
	margin-left: 36%;
}

.mg-lg-btm {
	margin-bottom: 100px;
}

.mg-btm {
	margin-bottom: 50px;
}

.mg-sm-btm {
	margin-bottom: 30px;
}

.mg-btm-10 {
	margin-bottom: 10px;
}

.mt-80 {
	margin-top: 80px;
}

.mg-top {
	margin-top: 50px;
}

.mg-top-10 {
	margin-top: 10px;
}

.mg-lg-top {
	margin-bottom: 150px;
}

.mg-sm-top {
	margin-top: 30px;
}

.mg-top-5{
	margin-top: 5px;
}

.pr-15 {
	padding-right: 15px;
}

.pad-tambah {
	padding-right:193px;
}
.pl-minus{
	padding-left: 0px!important;
}

.pr-pl-minus{
	padding-right: 0px!important;
	padding-left: 0px!important;
}
/*.pr {
	padding-right: 0 !important;
}*/

.mr-ml-plus {
  margin-right: 15px!important;
  margin-left: 15px!important;
}

.ml-25 {
	margin-left: 0!important;
}

.ml-plus {
	margin-left: 0px!important;
}

.pd-0 {
	padding: 0!important;
}
.pd-20 {
	padding: 30px;
}

.pd-18 {
	padding: 18px;
}

.pl-20 {
	padding-left: 20px;
}

.pl-40 {
	padding: 40px 0!important;
}

.pl-10 {
	padding-left: 10px;
}

.pr-30 {
	padding-right: 30px;
}

.pl-30 {
	padding-left: 30px;
}

.pl-70 {
	padding-left: 70px;
}

.hr-edit {
	width: 150px;
	border-top: 3px solid #008080;
}

.hr-edit2 {
	width: 200px;
	border-top: 3px solid #302f49;
}

.display-4 {
	font-weight: bold;
}

.card-body-icon {
	position: absolute;
	z-index: 0;
	top: 2px;
	right: 4px;
	opacity: 0.5;
	font-size: 90px;
}

/*.font-size {
	font-size: 60px !important;

}*/

.fdb-block {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  padding: 7.5rem 0;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #FFFFFF;
}
.fdb-block  .border{
    border-bottom: 1px solid var(--light);
}

.fdb-block .fdb-box {
    background: #FFFFFF;
    padding: 3.75rem 2.5rem;
    overflow: hidden;
    color: #444444;
    border-radius: 0.25rem;
    box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2) !important;
}

.border .container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}

.break, .share{
	height: 100px;
	background-image: linear-gradient(to left, #004c4c, #066);
	margin-top: -65px;
}

.justify-content-center {
	justify-content: center!important;
}

.img-circle {
	border-radius: 100px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}


.wid {
	width: 100% !important;
}

.wid-50 {
	width: 50% !important;
}

.wid-30 {
	width: 30% !important;
}

.wid-20 {
	width: 20% !important;
}

/*.foto-umkm {
	background-color: #f5f7f8;
}*/

.foto-umkm img{
	/*background-color: salmon;*/
	max-width: 500px;
	max-height: 300px;
	background-size: cover;
}

.social-links{
	list-style-type: none;
	margin-left: -40px;
}
.warna {
	color: #066;
}

.war {
	background-color: #066 !important;
}

.warna:hover {
	color: #044;
}

.social-links a{
	text-decoration: none;
}

.dropdown-menu {
	padding: 13px;
}
.dropdown-item:hover {
	background-color: #fff!important;
	color: #066;
	text-decoration: underline;
}

/*BREADCRUMB*/

.breadcrumb {
	margin-top: -25px;
	margin-left: -16px !important;
	border-radius: 0px !important;
	background-color: #fff !important;
}	

.breadcrumb-item a {
  color: #066;
  font-weight: bold;
}

/*AKHIR BREADCRUCM*/

/*TABEL*/

.page-link {
	color: #066!important;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff!important;
  background-color: #004c4c;
  border-color: #004c4c;
}

.thead-edit{
	background-image: linear-gradient(to left, #004c4c, #066);
	color: white;	
}

/*.table-edit tbody tr:nth-of-type(odd) {
}
*/

/*AKHIR TABEL*/

.share {
	margin-top: 65px !important;
}

/*section {
	min-height: 500px;
}*/

.mulai {
	background-image: linear-gradient(to left, #004c4c, #066);
} 

.card {
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;*/
  position: relative;
  margin-bottom: 20px !important;
}

/*NAVIGASI*/




/*CAROUSEL*/

.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 150px;
  z-index: 10;
}

.carousel-item {
  background-size: cover;
  /*background-position: 0 10px;*/
  height: 576px;
  /*background-image: linear-gradient(to left, #004c4c, #066);*/
  background: no-repeat center center scroll;
	position: relative;
}

.posisi {

	object-position: 0 -90px
}

.carousel-item::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(0,68,68,0.5), rgba(0,102,102,0.5));
	position: absolute;
	bottom: 0;
}

/*.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}*/

.carousel-caption span {
	font-weight: bolder;
}


@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}
/*END CAROUSEL*/

/*EVENT*/

.tanggal{
	position: absolute;
	top: 60px;
	right: 0;
	height: 40px;
	max-width: 200px; 
	padding: 5px;
/*	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px; */
	font-size: 20px;
	color: white;
}

.komunitas {
	font-weight: lighter;
	font-size: 12px;
	border: 1px solid #666;	
	display: inline !important;
	padding: 4px; 	
	margin-bottom: 0.75rem;
	text-transform: uppercase;
	max-width: 100px;
}

.nama-event, .judul-artikel {
	height: 50px;
	margin-top: 8px;
	font-weight: bold;
	color: #066;
}
/*AKHIR EVENT*/

/*ARTIKEL*/

.jenis-artikel {
	position: absolute;
	left: 20px;
	bottom: 323px; /*273*/ 
	height: 40px;
	max-width: 200px; 
	background-color:  #302f49;
	padding: 5px;
	font-size: 20px;
	color: white;
}

.rincian-artikel a{
	color:  #302f49;
}
/*AKHIR ARTIKEL*/

/*JUMBOTRON*/

.jumbotron {
	/*background-image: url(img/bgs.jpg);*/
	background-size: cover;
	height: 400px;
	text-align: center;
	position: relative;
}

.text-shadow {
	text-shadow: 0 0 1 #000;
}

.jumbotron .display-4 {
	color: white;
	/*font-weight: 200;*/
	margin-top: 60px;
	/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);*/
	margin-bottom: 25px;	
	font-size: 	50px;
}



.jumbotron::after {

	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 7px;
	max-width: 100%;
}

.bot::after{
	bottom: 0px!important;
}

.jumbotron .container {
	position: relative;
	z-index: 1;
}

/*AKHIR JUMBOTRON*/


.profile-3 .card-body {
	background-image: linear-gradient(to left, #077, #066);
	box-shadow: 0 3px 20px rgba(0,0,0,0.5);
	padding-top: 30px;
	text-align: center;
	color: white;
}

.profile-3 img {
	width: 50px;
}

.profile-3 h2{
	text-transform: uppercase;
	font-weight: bold;
}

.cari {
	max-width: 60%; 
}

/*INFO-PANEL / PROFIL*/

.info-panel {
	box-shadow: 0 3px 20px rgba(0,0,0,0.5);
	border-radius: 12px;
	margin-top: -85px;
	background-color: white;
	padding: 20px;
}

.info-panel img {
	width: 50px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.info-panel h4{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}

.info-panel p {
	color: #acacac;	
	margin-top: -5px;
	font-weight: 200px;

}

/*END INFO PANEL / PROFIL*/

/*WORKINGSPACE*/

.workingspace {
	padding-top: 73px;
}

.workingspace h3 {
	font-size: 50px;
	font-weight: 200;
	text-transform: uppercase;
	color: #fff;
	margin-top: 30px;
}

.workingspace h3 span {
	font-weight: bold;
}

.workingspace p {
	font-size: 18;
	font-weight: bold;
	color: #fff;
	/*margin: 20px 0;*/
}

/*WORKINGSPACE*/

/*FOOTER*/

.foot {
	padding-top: 30px;
	color: white;
	max-height: 1024px;
	width: 100%;
	background-image: linear-gradient(to left, #004c4c, #066);
}		
.foot h4 {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}
.foot li {
	list-style-type: none;
	margin-left: -40px;
	font-weight: 100;
}

.foot p {
	font-weight: 100;
	font-size: 14px;
}

.foot a {
	font-weight: 100;
	font-size: 14px;
	text-decoration: none;
	color: white;
}

.hov a:hover {
	text-decoration: underline !important;;
	color: white;
}

/*AKHIR FOOTER*/

.minus-top {
    position: absolute;
    top: -80px;
}

.logo-center {
	left: 15px;
	right: 15px;
}

.white-bg {
    background-color: #fff;
}

.wrapper-kelas {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.register {
    padding-left: 100px;
    padding-right: 100px;
}

.foto {
	background-position: cover;

}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 0.25rem);
    padding: 0.375rem 0.75rem;
    font-size: 1em;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.pos {
	/*background-image: linear-gradient(to left, #077, #066);*/
	background-position: 0% 0%;
	width: 100%
}

/*.tables {
	border-collapse: collapse !important;
	border-spacing: 0;
}*/

.edit {
	font-size: 12px;
}
.edit a {

	font-size: 12px;
}

.color a {
	color: white !important;
}

.ukuran-font {
	font-size: 15px;
}


.dropdown-right {
	right: 0!important;
}


.card-img-top{
}

.card-img-top img{
	height: 200!important;
	width: 200!important;
	background-size: cover;
}

.size {
	font-size: 40px!important;
	bottom: 2px!important;
	top: auto!important;
}

#facts .fact-icon {
    color: #fff;
    font-size: 46px;
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
}

.fact-title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    /*margin-bottom: 30px;*/
}

.timer {
	color: white;
}


/*.tinggi {
	height: 600px !important;
}*/


.owl-prev {
    left: -30px!important;
  }

  .owl-next {
    right: -30px!important;
  }

  .owl-prev, .owl-next{
    position: absolute!important;
    top: 30%!important;
  }

  .owl-prev span, .owl-next span {
    font-size: 60px!important;
    color: #666!important;


  }

  
/*RESPONSIF*/

@media (min-width: 992px) {
	

	
	
	#penanda::after {
		content: '';
		display: block;
  		border-bottom: 3px solid #008080;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px; /*5+3*/ 

	}


	.side-profile {
		margin-top: -270px;
		margin-bottom: 100px; 
	}


	.jumbotron .display-4 {
		font-size: 	40px;
	}
	
	.bi::before {
		display: inline-block;
 		content: "";
  		background-repeat: no-repeat;
  		bottom:0px;
  	 	background-size: 1rem 1rem;
	}
		.wrapper-kelas-sm.minus-top {
    position: unset;
    margin: -80px auto 0 auto;
	}
	
	.wrapper-kelas-sm {
    height: 180px!important;
    width: 180px!important;
    margin: 0 auto 30px auto;
	}

	.ml-plus {
		margin-left: 40px!important;
	}
}


@media (max-width: 576px) {
	.mb-sm-7 {
    margin-bottom: 120px!important;
		}
}

/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/