@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 15px;
}

.header .logo {
  font-size: 25px;
  font-family: 'Sriracha', cursive;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    margin-right: 20px;
  }
  
  .nav-items a {
    text-decoration: none;
    color: #000;
    padding: 15px 10px;
    transition: color 0.3s ease;
  }
  
  .nav-items a:hover {
    color: #69696c;
  }

/* CSS for main element */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 40px;
  text-align: center;
}

.intro h1 {
  font-family: sans-serif;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 20px;
  color: #d1d1d1;
  margin: 20px 0;
  margin-left: 7%;
  margin-right: 7%;
  
}
.content{
    text-align: center;
    margin-top: 5%;
}
.content h2{
    margin-bottom: 20px;
    font-size: 40px;
}
  
 
.achievements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

.achievements .work {
    display: inline-block;
    width: 30%;
    margin-bottom: 30px;
    padding: 20px;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.achievements .work .work-heading {
    font-size: 20px;
    color: #333333;
    margin: 10px 0;
    text-align: center;
  }
  
  .achievements .work .work-text {
    font-size: 15px;
    color: #585858;
    margin: 10px 0;
    text-align: center;
  }
 
  
  /* CSS for footer */
  .footer {
    justify-content: space-between;
    align-items: center;
    background-color: #302f49;
    padding: 40px;
  }
  
  .footer .copy {
    color: #fff;
    text-align: center;
  }
  
  .bottom-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  
  .bottom-links .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;
  }
  
  .bottom-links .links span {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 0;
  }
  
  .bottom-links .links a {
    text-decoration: none;
    color: #a1a1a1;
    padding: 10px 20px;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 600px) {
    .header .logo {
      font-size: 20px;
    }
    
    .nav-items a {
      padding: 10px 5px;
    }
    
    .intro h1 {
      font-size: 30px;
    }
    
    .intro p {
      font-size: 16px;
      margin: 10px 0;
    }
    
   
    
    .achievements .work {
      width: 100%;
    }
    
    .about-me img {
      max-width: 100%;
    }
    
    .about-me-text h2 {
      font-size: 24px;
    }
    
    .about-me-text p {
      font-size: 14px;
    }
    
    .footer {
      flex-direction: column;
      text-align: center;
    }
    
    .bottom-links .links {
      margin-top: 10px;
    }
  }